<h4> test </h4>

<div class="navbar">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
</div>



<div class="main">
  <p></p>
</div>

<div id="mySidenav" class="sidenav">
  <a> <%= image_tag 'uncle_frank.jpg', size: '125x125' %> <a/>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  ...
</div>
