<div class="headerbar"> <a> UNKIE FRANKS EMPOOORIUM </a> </div>

<div id="mySidenav" class="sidenav">
  <a> <%= image_tag 'uncle_frank.jpg', size: '150x150', class: 'shake circleimg' %> <a/>
  <a href="#">About</a>
  <a href="#">Categories</a>
  <a href="#">All items</a>
  <a href="#">Contact</a>

</div>

<div id="main">
 there is stuff here there is stuff here there is stuff here there is stuff here there is stuff here there is stuff here there is stuff here there is stuff here
</div>
