<div class="headerbar"> <a> UNKIE FRANKS EMPOOORIUM </a> </div>

<div class="dropdown userbtn">
  <button onclick="openDropdown()" class="dropbtn">
    <div class="menudiv"></div>
    <div class="menudiv"></div>
    <div class="menudiv"></div>
  </button>
  <div id="UserMenu" class="dropdown-content">
    <a href="#">Log In</a>
    <a href="#">Create Account</a>
    <a href="#">Link 3</a>
  </div>
</div>

<div id="mySidenav" class="sidenav">
  <a> <%= image_tag 'uncle_frank.jpg', size: '150x150', class: 'shake circleimg' %> <a/>
  <a href="#">About</a>
  <a href="#">Categories</a>
  <a href="#">All items</a>
  <a href="#">Contact</a>

</div>

<div id="main">
"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
</div>




<div class="footerbar"> <a> THIS IS A FOOTER </a> </div>


<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function openDropdown() {
    document.getElementById("UserMenu").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
