<h1>All Items</h1>

<div class="row">
  <% @items.each do |item| %>
  <div class="col s12 m7 l3">
    <div class="card">
      <div class="card-image">
        <img src="/assets/<%=item.image_path%>">
        <span class="card-title"><%=item.name%></span>
      </div>
      <div class="card-content">
        <p><%= item.description %></p>
      </div>
      <div class="card-action">
        <%= button_to "Add to Cart", carts_path(item_id: item.id), class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
