/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.cart-count {
    position: absolute;
    top: 12px;
    right: 62px;
    z-index: 5;
    color: red;
    text-shadow: 1px 1px 1px #000;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 14px;
    color: white;
    line-height: 18px;
    text-align: center;
    background: blue;
 }

.userbtn {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 2;
}

 .title {
   text-align: center;
   color: black;
   font-size: 28px;
   text-decoration: none;
   text-shadow: 1px 0px black;
 }

 /* The side navigation menu */
 .sidenav {
     height: 100%; /* 100% Full-height */
     width: 300; /* 0 width - change this with JavaScript */
     position: fixed; /* Stay in place */
     z-index: 1; /* Stay on top */
     top: 0;
     left: 0;
     background-color: #111; /* Black*/
     overflow-x: hidden; /* Disable horizontal scroll */
     padding-top: 0px; /* Place content 60px from the top */
     transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
 }

 /* The navigation menu links */
 .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
     transition: 0.3s
 }

 /* When you mouse over the navigation links, change their color */
 .sidenav a:hover, .offcanvas a:focus{
     color: #f1f1f1;
 }

 /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 #main {
    padding-left: 200px;
 }

 .headerbar {
     height: 80px;
     overflow: hidden;
     text-align: center;
     background-color: #111;
     position: fixed; /* Set the navbar to fixed position */
     top: 0; /* Position the navbar at the top of the page */
     width: 100%; /* Full width */
 }

 /* Links inside the navbar */
 .headerbar a {
     text-align: center;
     vertical-align: middle;
     line-height: 80px;
     font-size: 32px;
     color: #f2f2f2;
     padding: 14px 16px;
     text-decoration: none;
 }

 .footerbar {
     text-align: center;
     overflow: hidden;
     background-color: #111;
     position: fixed; /* Set the navbar to fixed position */
     bottom: 0;
     width: 100%; /* Full width */
 }


 .footerbar a {
     font-size: 16px;
     color: #f2f2f2;
     padding: 14px 16px;
     text-decoration: none;
 }

 .circleimg {
    border-radius: 50%;
 }

 .shake:hover {
    /* Start the shake animation and make the animation complete in 0.5 seconds */
    animation: shake 5s;
    /* When the animation is complete, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.menudiv {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

/* Dropdown Button */
.dropbtn {
    height: 50px;
    width: 50px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
    /*cursor: pointer;*/
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position:relative;
    float:left;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    background: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* below code for the login popup */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 50px;
    width: 40%; /* Full width */
    height: 40%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 70px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
